{% extends "layout.html" %}
{%block title%} Saída {%endblock%}
{% block body %}
  <div class="divcentral">
    <a href="{{url_for('index')}}">  <div class="divs">
    <div class="seta"></div>
    </div></a>
<h1 class="tituloft">Saídas</h1>

                <h2 class="sn">Nome</h2>
                <h2 class="sd">Data</h2>
                <h2 class="sq">Quantidade</h2>
          <div class="divlista1">
            {% for saída in saídas %}
                  <h2 class="h22">{{ saída.nomedoproduto }}</h2>
             {% endfor %}     </div>
          <div class="divlista2">
            {% for saída in saídas %}
                  <h2 class="h22">{{ saída.data }}</h2>
             {% endfor %}     </div>
              <div class="divlista3">
           {% for saída in saídas %}
                  <h2 class="h22">{{ saída.quantidade }}</h2>
             {% endfor %}   
                 
      
            
            
       
</div>



{% endblock %}